# Abaikan file konfigurasi penting
!wp-config.php

# Abaikan file cache dan log
*.log
*.cache

# Abaikan folder yang tidak perlu
!wp-content/upgrade/
!wp-content/cache/

# Jangan abaikan folder uploads agar semua file di dalamnya ikut ter-track
!wp-content/uploads/

# Abaikan file sistem yang tidak perlu
!.DS_Store
